.post
  .post-title
    font-size rem(40px)
    padding 0
    margin 0
    margin-bottom 10px
  .datetime
    font-size 18px
    float left
    width 100%
    margin-bottom 40px

  .post-content
    font-size rem(22px)
    line-height 1.5
